@model MountainTourismApp.Models.GPSFile

@{
    ViewBag.Title = "Delete";
}

<h2>Избриши</h2>

<h3>Дали сте сигурни дека сакате да избришете?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.distance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.distance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.positiveD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.positiveD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.negativeD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.negativeD)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Избриши" class="btn btn-default" /> 
            <div>
                <a style=" font-family: cursive;" class="btn" id="test" href="https://localhost:44386/">Назад кон почетна &laquo;</a>
            </div>
        </div>


    }
</div>
