@model MountainTourismApp.Models.RecommendedEquipment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RecommendedEquipment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.hotDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hotDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.coldDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.coldDesc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
