@model MountainTourismApp.Models.Sherpa

@{
    ViewBag.Title = "Create";
}

<h2>Додај нов планински водич</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group" style="visibility:hidden;">
        @Html.LabelFor(model => model.GPSFileId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.GPSFileId, new { htmlAttributes = new { @Value = ViewBag.parm } })
            @Html.ValidationMessageFor(model => model.GPSFileId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ImageURL, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ImageURL, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ImageURL, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.licence, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.licence)
                @Html.ValidationMessageFor(model => model.licence, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.yearsOfExperience, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.yearsOfExperience, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.yearsOfExperience, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.club, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.club, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.club, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" style="visibility:hidden">
        @Html.LabelFor(model => model.hikers, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.hikers, new { htmlAttributes = new { @Value = 0 } })
        </div>
    </div>

    <div class="form-group" style="visibility:hidden">
        @Html.LabelFor(model => model.dateTime, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.dateTime, new { htmlAttributes = new { @Value = "1900-01-01 00:00:00.000" } })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Зачувај" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div style=" font-family: cursive;" class="btn">
    @Html.ActionLink("Назад кон листата", "Index", "Sherpas", new { id = ViewBag.parm }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
