@model MountainTourismApp.Models.Sherpa

@{
    ViewBag.Title = "Delete";
}

<h2>Избриши</h2>

<h3>Дали сте сигурни дека сакате да избришете?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.licence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.licence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.yearsOfExperience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yearsOfExperience)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.club)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.club)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hikers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hikers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateTime)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Избриши" class="btn btn-default" /> <br />
              <div>
                  @Html.ActionLink("Назад кон листата", "Index", "Sherpas", new { id = ViewBag.parm }, null)
              </div>
        </div>
    }
</div>
