@model MountainTourismApp.Models.Sherpa

@{
    ViewBag.Title = "Edit";
}
<div style="visibility:hidden">
    @ViewBag.parm
</div>
<br />
<h2>Резервација на планинска тура</h2>
<br />
<style>
    #test {
        font: bold 14px Arial, Helvetica;
        background-color: #eee;
        font-family: cursive;
        color: black;
        border-color: black;
        border-width: medium;
        border-radius: 5px;
    }

    h2 {
        position: center;
        margin: auto;
        text-align: center;
        font-family: fantasy;
    }

    p {
        position: center;
        margin: auto;
        text-align: center;
        font-family: cursive;
    }

    h6 {
        font-family: cursive;
    }

    .card {
        /* Add shadows to create the "card" effect */
        font-family: cursive;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 700px;
        height: 900px;
        position: center;
        margin: auto;
    }

        /* On mouse-over, add a deeper shadow */
        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

    /* Add some padding inside the card container */
    .container {
        padding: 2px 16px;
    }




    #datep {
        display: none;
    }

    .ui-datepicker-calendar tbody td > a.hover-calendar-cell {
        border: 1px solid #074e91;
        background: #5bacf7 url(images/ui-bg_glass_15_5bacf7_1x400.png) 50% 50% repeat-x;
        font-weight: normal;
        color: #1a1a1a;
    }

    #addon {
        background-color: #999;
        width: 100%
    }
</style>


<p>Почитуван кориснику <i>@ViewBag.userEmail</i> доколку сакате да извршите резервација на планинска тура за опциите кои ги избравте изберете датум и време, и притиснете на копчето <i>Резервирај</i></p>
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)



        <div class="card">
            <img src="https://www.theuiaa.org/wp-content/uploads/2021/01/Dolomites-stock-UIAA.jpg" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>Изберете датум и време:</b></h4>
                <h6>
                    Почитуван кориснику <i>@ViewBag.userEmail</i> изберете датум и време за старт доклку сакате резервацијата<br />
                    да биде успешна и притиснете на копчето <i>Резервирај</i>.
                </h6>
                <br />

                <h6>
                    <b>Датум и време:</b>

                </h6>

                
                        <div class='input-group date col-md-3'>
                            @Html.EditorFor(model => model.dateTime, new { htmlAttributes = new { @class = "form-control", @id = "datetimepicker1" } })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>

                <br />

                <h6><b>Планина:</b>@ViewBag.mountain</h6>
                <h6><b>Рута:</b>@ViewBag.gpsFile</h6>
                <h6><b>Планинарски водич:</b>@ViewBag.finalSherpa</h6>
                <br />
                <br />
                <div class="form-group">
                    <div>
                        <input id="test" type="submit" value="Резервирај" class="btn btn-default" />
                    </div>
                </div>
            </div>
            </div>







        <div class="form-group" style="visibility: hidden">
            @Html.LabelFor(model => model.GPSFileId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.GPSFileId)
                    @Html.ValidationMessageFor(model => model.GPSFileId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group" style="visibility: hidden">
            @Html.LabelFor(model => model.ImageURL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ImageURL)
                    @Html.ValidationMessageFor(model => model.ImageURL, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group" style="visibility: hidden">
            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.name)
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group" style="visibility: hidden">
            @Html.LabelFor(model => model.licence, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.licence)
                    @Html.ValidationMessageFor(model => model.licence, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group" style="visibility: hidden">
            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="visibility: hidden">
            @Html.LabelFor(model => model.yearsOfExperience, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.yearsOfExperience, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.yearsOfExperience, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="visibility: hidden">
            @Html.LabelFor(model => model.club, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.club, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.club, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="visibility: hidden">
            @Html.LabelFor(model => model.hikers, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hikers, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hikers, "", new { @class = "text-danger" })
            </div>
        </div>




    </div>
}



@section Scripts {
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/datetimepicker");
    <script>
        $(document).ready(function () {
            $('#datetimepicker1').datetimepicker({
                enabledHours: [6, 11],
                daysOfWeekDisabled: [1, 2, 3, 4, 5],
                format: 'MM/DD/YYYY hh:00:00 A',
                minDate: new Date()
                

            });
        });

    </script>
}

