@model MountainTourismApp.Models.Mountain

@{
    ViewBag.Title = "Delete";
}

<h2>Избриши</h2>

<h3>Дали сте сигурни дека сакате да избришете?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Raiting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Raiting)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Избриши" class="btn btn-default" /> <br />
            @Html.ActionLink("Назад кон листата", "Index")
        </div>
    }
</div>
